/*a little room for things*/
.collapse, .btn, .progress, #main-container {
    margin: 40px;
}

#banner {
    margin: 0px 40px 0px 40px;
    border-radius: .25rem;
}

/* Body Background*/
body {
    background-image: url("../images/footer_lodyas.png");
}

/* center timer and question */
.card-header, .card-title{
    margin: 20px;
    text-align: center;
}

/* off center possible answers and eventual answer */
#answerBox {
    margin: 0% 15% 0% 15%;
    padding-left: 5%;
}